.banner {
    background-color: var(--color-light);
    padding: 40px 100px;
    box-shadow: 0px 0px 15px rgba(24, 18, 30, 0.12);
    border-radius: var(--border-radius-card-small);

    max-width: 1180px;
    margin-bottom: -100px;
    z-index: 2;
    position: relative;
    
    @include desktop {
        position: block;
        z-index: 1;
        margin-inline: 16px;
        margin-bottom: 80px;
        padding: 30px;
    }

    @include mobile {
        margin-bottom: 50px;
        padding: 24px;
    }

    &__title {
        @include fluid-text(26, 24);

        @include mobile {
            margin-bottom: 14px;
        }
    }

    &__subtitle {
        @include fluid-text(18, 16);
        
        display: block;
        color: var(--color-yellow);
        margin-bottom: 4px;
    }
    
    &__description {
        font-size: 14px;
        font-weight: 600;
        max-height: 36px;
        line-height: 1.3;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        column-gap: 15px;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__main {
        max-width: 536px;

        @include desktop {
            max-width:  50%;
        }

        @include mobile {
            max-width: 100%;
        }
    }

    &__label {
        display: block;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    &__button {
        display: inline-block;
        font-weight: 600;
        max-width: 240px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        margin-bottom: 8px;

        @include desktop {
            flex-direction: column;
            row-gap: 16px;
        }

        @include mobile {
            justify-content: start;
        }
    }

    &__link {
        text-decoration: underline;

        &:hover {
            color: var(--color-yellow);
            text-decoration: none;
        }
    }

    &__input {
        height: var(--input-height-small);
        border: none;
        background-color: var(--color-light-alt);
        padding: 12px 16px;
        font-size: 14px;
        width: 100%;
        border-radius: var(--border-radius-small);
        
        &::placeholder {
            color: var(--color-dark);
        }

        &:focus {
            outline: 1px solid var(--color-yellow);
        }
    }
}